.TreeNodeBody {
    position: relative;
    width: fit-content;

    display: flex;
    align-items: center;

    height: 32px;

    padding: 8px;

    background-color: rgb(248, 248, 248);

    border: 1.25px solid gray;
    border-radius: 8px;

    font-size: smaller;

    opacity: 0.5;

    &_chosen {
        opacity: 1;
    }

    &_inspected {
        background-color: rgb(220, 236, 223);

        border-color: green;
    }

    &__value {
        color: rgb(21, 116, 145);
        user-select: none;

        .representation {
            display: inline-flex;
            gap: 4px;

            .attribute {
                color: rgb(0, 119, 79);
            }
        }
    }

    &__value-accent {
        color: black;
        font-weight: 900;
    }

    // &__square {
    //     position: absolute;
    //     visibility: hidden;

    //     width: 100px;
    //     height: 100px;

    //     border: 2px solid gray;
    //     background-color: #f4f4f4;

    //     &_visible {
    //         visibility: visible;
    //     }

    //     z-index: 100;
    // }
}
