$prop-width: 30%;

.AttributesSpace {
    &__checkbox-group {
        display: flex;
        align-items: center;

        width: $prop-width;

        input {
            accent-color: #333;
        }

        .name {
            display: inline-block;

            padding-left: 4px;
            font-weight: 500;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__type {
        width: $prop-width;
        text-align: center;
    }

    .probability {
        width: $prop-width;
    }
}
