$prop-width: 30%;

.AttributesSpace {
    &__checkbox-group {
        display: flex;
        align-items: center;

        width: $prop-width;
    }

    &__name {
        display: inline-block;

        padding-left: 4px;
        font-weight: 500;

        text-overflow: ellipsis;
    }

    &__type {
        width: $prop-width;
        text-align: center;
    }

    &__probability {
        width: $prop-width;
    }
}
