@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;

    font-family: 'Sansation', sans-serif;
    font-weight: 400;
    font-style: normal;
}

input {
    font-family: 'Sansation', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.App {
    width: 100vw;
    height: 100vh;

    padding: 4px 8px;
}
